/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* UILITIES */
.container-small {
    width: 70%;
    margin: 0 auto;
}

.container-big {
    width: 80%;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.button-small {
    padding: 5px 10px;
    text-decoration: none;
}

.button-big {
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
}

.blue {
    background-color: #0560FB;
    color: white;
}

.void {
    border: 1px solid black;
    color: black;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 32px;
}

.mb-20px {
    margin-bottom: 20px;
}

.mb-80px {
    margin-bottom: 80px;
}


/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    line-height: 40px;
    background: #fff;
    padding: 20px 10px;
    z-index: 1;
}

header img {
    vertical-align: middle;
}


header ul {
    display: inline-block;
}

header ul li{
    display: inline-block;
    margin: 0 20px;
}

header ul li a {
    text-decoration: none;
    color: black;
}

header div:first-child {
    float: left;
}

header div:last-child {
    float: right;
}

/* MAIN */
/* Hero */
.hero {
    background: #B4D0E7;
    padding-top: 80px;
    margin-bottom: 160px;
}
.hero-translate {
    position: relative;
    top: 80px;
}

.hero h1 {
    margin-bottom: 50px;
}

.hero-text {
    width: 30%;
    float: left;
    margin-right: 5%;
}

.hero-text a {
    text-decoration: none;
}

.hero-text .fa-arrow-down {
    font-size: 32px;
}

.hero-image {
    width: 65%;
    float: right;
}

.hero-image img {
    width: 100%;
}

/* Plans Section */
.plans h2 {
    margin-bottom: 50px;
}

.plans .columns {
    width: 100%;
    margin-top: 30px;
}

.plans .cols {
    float: left;
    width: calc((100% - 8%) / 3);
    border: 1px solid grey;
    margin-bottom: 40px;
}

.plans .cols:nth-child(2) {
    margin: 0 4%;
}

.plans .people {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid grey;
}

.plans .info {
    padding: 0 30px;
}

.plans .price {
    font-weight: 700;
    margin-bottom: 10px;
}

.plans .recurrence-price {
    color: grey;
}

.plans .info ul{
    margin-left: 30px;
}

.plans .info ul li{
    margin-bottom: 10px;
}


.plans .info ul li:last-child {
    margin-bottom: 30px;
}

.plans .info .buy-now {
    margin: 30px 0;
}
.plans .info hr {
    width: 25%;
}

.plans .info h4 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.fa-check {
    color: #0560FB;
}

.enterprise {
    border: 1px solid grey;
    margin-bottom: 120px;
    padding-bottom: 20px;
}

.title-enterprise {
    float: left;
}

.button-enterprise {
    float: right;
}

/* Partner Section*/
.partner img {
    width: 50%;
    float: left;
}

.text-partner {
    width: 50%;
    float: right;
    padding-top: 40px;
    padding-left: 60px;
}

/* Functionality Section */
.functionality h2 {
    margin-bottom: 50px;
}

.functionality .columns {
    width: 100%;
}

.functionality .cols {
    float: left;
    width: calc((100% - 10%) / 3);
    margin-bottom: 80px;
}

.functionality .cols:nth-child(3n + 2) {
    margin: 0 5%;
}

.functionality .cols img {
    width: 100%;
}

.functionality .cols h4 {
    margin-bottom: 30px;
}

/* Clients Section */
.clients-container {
    width: 50%;
}

.clients-container .link {
    margin: 30px 0;
}

.clients .columns {
    width: 100%;
}

.clients .columns .cols {
    width: 30%;
    float: left;
}

.clients .columns .cols:nth-child(2) {
    width: 40%;
    padding: 50px 40px;
}

.clients .columns .cols .square {
    width: 50%;
    height: 15vw;
    float: left;
    background: red;
}

.clients .columns .cols .square img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    filter: invert(1);
}

.clients .columns .cols:first-child .square:nth-child(1) {
    background: #A2D39B;
    border: 10px solid #D0E9CD;
}

.clients .columns .cols:first-child .square:nth-child(2) {
    background: #62172B;
}

.clients .columns .cols:first-child .square:nth-child(3) {
    background: #3994CF;
}

.clients .columns .cols:first-child .square:nth-child(4) {
    background: #E93F33;
}

.clients .columns .cols:last-child .square:nth-child(1) {
    background: #D6392E;
}

.clients .columns .cols:last-child .square:nth-child(2) {
    background: #B4D0E7;
}

.clients .columns .cols:last-child .square:nth-child(3) {
    background: #0D2481;
}

.clients .columns .cols:last-child .square:nth-child(4) {
    background: #FCD833;
}

.clients .columns .cols:nth-child(2) img {
    width: 25%;
}

.clients .columns .cols:nth-child(2) hr {
    width: 10%;
}

.clients .columns .cols:nth-child(2) p:first-of-type {
    margin-bottom: 50px;
}

.clients .bg-test {
    background: #B4D0E7;
    padding: 80px 0;
}

.clients .bg-test h2{
    float: left;
    width: 50%;
    margin-right: 25%;
    color: #62172B;
}

.clients .bg-test .button-big {
    float: left;
    width: 25%;
    background: white;
    color: black;
}

/* FAQ */
.faq h2 {
    margin-bottom: 40px;
}

.faq .question {
    padding: 20px 20px 20px 0;
}

.faq .question .question {
    float: left;
    width: 98%;
    font-weight: 700;
    cursor: pointer;
}

.faq .question .arrow-down {
    float: right;
    width: 2%;
    cursor: pointer;
    transform: translateY(15px);
}

.faq .question .arrow-up {
    display: none;
    float: right;
    width: 2%;
    cursor: pointer;
    transform: translateY(15px);
}

.faq .question .answer {
    display: none;
}

.faq .question:hover .arrow-down{
    display: none;
}

.faq .question:hover .arrow-up,
.faq .question:hover .answer {
    display: block;
}

/* FOOTER */
footer {
    background: black;
    padding-top: 80px;
    padding-bottom: 40px;
    color: #fff;
}

footer .cols {
    width: 20%;
    float: left;
}

footer .cols ul {
    list-style: none;
}

footer .cols ul li {
    margin-bottom: 10px;
}

footer .cols ul li:first-child {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}

footer hr {
    width: 10%;
    color: grey;
    margin-top: 50px;
}

footer .lingua {
    margin-top: 40px;
    color: grey;
}
